.mainBox{
  display: flex;
}

.mainDiv{
  position: relative;
  background-color: aliceblue;
  opacity: .9;
  box-sizing: border-box;
}

#topDiv{
  width:100%;
  height:20vh;
}

#leftDiv{
  width:45%;
  height:20vh;
}

#rightDiv{
  width:45%;
  height:20vh;
}

#bottomDiv{
  width:100%;
  height:10vh;
}